$base-color-normal: #e3cdc0;
$base-color-light: #f9efe7;

$accent-color-dark: #4f3341;
$accent-color-purple: #906d94;
$accent-color-pink: #ac718d;
$accent-color-orange: #ad7f7f;
$accent-color-blue: #6a7f92;

$text-color-black: #191014;
$text-color-white: #f9efe7;

$white-mask: rgba(255, 255, 255, 0.5);
$black-mask: rgba(0, 0, 0, 0.5);