// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_colors.scss";

#map {
  height: 80vh;
  border: 1px solid $accent-color-dark;
}

.leaflet-popup-content {
  width: 300px !important;

  h2 {
    color: $text-color-black;
    font-size: 14px;
    font-weight: bold;
  }

  p {
    color: $text-color-black;
  }

  a {
    color: $accent-color-blue !important;
  }

  img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 169px;
  }

  dl {
    margin-bottom: 0px;
  }

  dt {
    display: table-cell;
    width: 300px;
    height: 169px;
    text-align: center;
    vertical-align: middle;
  }
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  //background-image: image_url('bg.jpg') !important;
  background-color: $base-color-normal !important;
}

a.leaflet-popup-close-button {
  color: $text-color-black !important;
}